body {
  margin: 20px;
  position: relative;
  color: black;
  font-family: "Concert One", cursive;
  font-weight: 100px;
  min-height: 700px;
  background-image: linear-gradient(to bottom, #b0acaa29 0%, #b0acaa82 100%);
}
