body {
  margin: 20px;
  position: relative;
  color: black;
  font-family: "Concert One", cursive;
  font-weight: 100px;
  min-height: 700px;
  background-image: linear-gradient(135deg, #f5f7fa 0%, #8ca8d5 100%);
}
