body {
  margin: 30px;
  position: relative;
  color: black;
  font-family: "Concert One", cursive;
  font-weight: 100px;
  min-height: 800px;
}
.card {
  background-image: url("./images/background2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 10px;
  margin: auto;
  color: black;
  max-width: 800px;
}
