.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.weathericon img {
  margin-left: 10px;
  width: 180px;
  height: 180px;
  text-align: center;
  margin-top: 100px;
}
.description {
  margin-left: 25px;
  margin-top: -25px;
  font-size: 15px;
  color: black;
  font-family: "Recursive", sans-serif;
  font-weight: 400px;
}
.description::first-letter {
  text-transform: capitalize;
}
.card2 {
  margin: auto;
  margin-top: 60px;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(180deg, #a6a1ab8d 30%, #91923882 100%),
    url("./images/background2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.175) inset;
  width: 250px;
  height: 250px;
  border-radius: 50%;
}
.city {
  padding-top: 10px;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  color: black;
}
.active {
  text-decoration: none;
  cursor: default;
  color: black;
}
.active:hover {
  text-decoration: none;
  color: black;
}

.date {
  margin-top: 30px;
  text-align: center;
  font-size: 15px;
  color: black;
  font-family: "Recursive", sans-serif;
  font-weight: 400px;
}
.currentTemp,
.units {
  margin-top: 20px;
  text-align: center;
  font-size: 75px;
  color: black;
}
.units {
  font-size: 17px;
  margin-left: -15px;
  font-family: "Recursive", sans-serif;
  font-weight: 400px;
  position: relative;
  top: -25px;
}

.details {
  margin-top: 100px;
  margin-left: 75px;
  font-size: 13px;
  font-weight: 400px;
  color: black;
  font-family: "Recursive", sans-serif;
}
.details1,
.details2,
.details3,
.details4,
.details5,
.details6,
.details7,
.details8 {
  padding-bottom: 3px;
}
