@media (max-width: 700px) {
  body {
    margin: 5px;
  }
  .card {
    padding: 10px;
  }

  .grid {
    grid-template-columns: 1fr;
  }
  .card2 {
    margin-top: 10px;
  }
  .description {
    margin-top: -18px;
  }
  .card1 {
    grid-row: 2;
    text-align: left;
  }
  .weathericon img {
    width: 100px;
    height: 100px;
    text-align: left;
    margin-top: 50px;
  }
  .details {
    text-align: start;
    margin: 0px;
    margin-left: 180px;
    margin-top: -150px;
  }
}
