@media (max-width: 700px) {
  body {
    margin: 5px;
  }

  .grid {
    grid-template-columns: 1fr;
  }
  .card2 {
    margin: auto;
    margin-top: 20px;
  }
  .description1 {
    margin-top: 0px;
    margin-left: 40px;
  }
  .description2 {
    margin-top: 0px;
    margin-left: 40px;
  }
  .card1 {
    grid-row: 2;
    text-align: left;
  }
  .weathericon canvas {
    width: 100px;
    height: 100px;
    text-align: left;
    margin-top: 30px;
  }
  .details {
    text-align: start;
    margin: 0px;
    margin-left: 300px;
    margin-top: -160px;
  }
}
@media (max-width: 500px) {
  .details {
    margin-left: 200px;
  }
}
